/* general sitting to use in th whole page */

* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.zero-p-m {
    padding: 0;
    margin: 0;
}

.no-overflow {
    overflow: hidden;
}

.block {
    display: block;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    padding: 5px 0px;
}

.bg-cyan {
    background-color: #01689b;
}

.cyan {
    color: #01689b;
}

.bg-white {
    background-color: white;
}

.white {
    color: white;
}

.magenta-pink {
    color: #A90061;
}

.bg-lightgray {
    background-color: #f3f3f3;
}

.gray {
    color: #CBD2E3;
}

.text-center {
    text-align: center;
}

a.sign {
    padding-left: 40px;
    font-weight: bold;
}

.sign::before {
    content: ">";
    position: absolute;
    left: 20px;
    font-weight: bolder;
}


/* ***** */

body {
    font-family: "RO Sans", Calibre, sans-serif;
    font-size: 18px;
}

.logo {
    position: relative;
    left: 130px;
    display: inline-block;
}

.nav-wide-top {
    width: 100%;
    padding: 10px 15px;
}

.nav-top-left {
    width: 35%;
    float: left;
    overflow: hidden;
    position: relative;
    display: none;
}

.nav-top-right {
    width: 65%;
    display: none;
}

.nav-mobile {
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}


/* ************************************** */

.nav-wide-top a,
aside a {
    color: inherit;
}

.aside-top {
    background-image: url("../images/strand.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 20px 15px;
}

.div-vertical-list-container {
    position: relative;
    width: 80%;
    padding: 15px;
    border: 1px solid gray;
    margin: auto;
}

.vertical-links,
footer ul {
    list-style-type: none;
    position: relative;
    padding-right: 15px;
    padding-left: 0;
    margin: 0;
}

section {
    margin: 10px;
    padding: 15px;
    position: relative;
}

article h3 {
    color: #01689b;
}

.article-link,
a {
    text-decoration: none;
    color: inherit;
}

.article-link:hover {
    text-decoration: none;
}

.item-text:hover,
.item-with-img:hover,
.item-news-text:hover {
    border-bottom: 2px solid #01689b;
}

.item-text,
.item-with-img,
.item-news-text {
    margin: 15px 0;
    padding: 5px 15px 5px 15px;
    width: 100%;
}

article img {
    width: 100%;
    display: block;
    margin: auto;
}

.bottom-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box-with-border {
    border: 2px solid #CBD2E3;
    padding: 10px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bolder;
    margin: 10px 0;
}

.box-with-border:hover {
    border: 5px solid #CBD2E3;
}

.box-with-border a,
.box-with-border a:hover {
    text-decoration: none;
}

footer {
    margin: 15px 0;
    background-color: #01689b;
}

.div-footer-item {
    padding: 15px;
    margin: 8px;
}

.div-footer-item:first-child {
    width: calc(100% - 2 * 16px);
    margin: auto;
}

.div-footer-item:nth-child(n+2) {
    float: left;
    width: calc((100% / 2) - 16px);
}

.search-container {
    float: right;
    margin: 12px;
}

.search-container input[type=text] {
    width: 180px;
}

.searchSubmit {
    width: 80px;
}

.mobile-search-container input[type=text] {
    width: calc(100% - 90px);
}

.mobile-search-container {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    display: inline-block;
    text-align: right;
}

.languages-container {
    margin: 10px;
    padding: 10px;
}

.language {
    margin: 5px;
    padding: 5px;
    border: 1px solid #01689b;
    display: inline-block;
    text-decoration: none;
}

.language:hover {
    text-decoration: none;
    font-weight: bold;
}

.div-footer-item:nth-child(1) {
    font-size: 1.5rem;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* The mobile nav */

.img-menu {
    width: 100%;
    display: block;
}

.nav-mobile #myLinks {
    display: none;
}

.nav-mobile a {
    padding: 14px 16px;
    display: block;
    border-bottom: 1px solid #CBD2E3;
    width: 45%;
}

.nav-mobile a.icon {
    background-color: #F3F3F3;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0px;
    width: 45px;
}

.nav-mobile a:hover {
    background-color: #F3F3F3;
    color: #01689b;
    text-decoration: none;
    font-weight: bolder;
}


/* Finish: the mobile nav */


/* to make the wide top nav on 2 lines if the screen is wide but not enough */

@media only screen and (max-width:901px) {
    .nav-top-left,
    .nav-top-right {
        clear: both;
        width: 100%;
    }
}


/* medium screens en tablet from 480 px to 767 px */

@media only screen and (min-width:480px) and (max-width:767px) {
    .item-with-img,
    .item-news-text {
        width: 50%;
        float: left;
        margin: 5px 0px;
        padding: 0px 12px;
    }
    .item-with-img:nth-child(odd),
    .item-news-text:nth-child(odd) {
        clear: left;
    }
    .search-container {
        display: none;
    }
}


/* large screens*/

@media only screen and (min-width:768px) and (max-width:990px) {
    .mobile-search-container {
        display: none;
    }
    .nav-top-right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-top-left {
        display: inline-block;
    }
    .nav-mobile {
        display: none;
    }
    .search-container {
        float: right;
    }
    .div-vertical-list-container {
        width: 60%;
        margin: 0;
        float: left;
    }
    .item-text,
    .item-with-img,
    .item-news-text {
        width: 50%;
        float: left;
        margin: 5px 0px;
        padding: 0px 12px;
    }
    .item-text:nth-child(odd),
    .item-with-img:nth-child(odd),
    .item-news-text:nth-child(odd) {
        clear: left;
    }
    .div-footer-item:nth-child(n) {
        margin: 0;
        padding: 15px;
        width: calc(100% /4);
        float: left;
    }
    .div-footer-item:nth-child(1) {
        width: 50%;
    }
}


/* X-large screens*/

@media only screen and (min-width:991px) {
    .mobile-search-container {
        display: none;
    }
    .item-text {
        width: 25%;
        float: left;
    }
    .item-text:nth-child(4n+5),
    .item-news-text:nth-child(3n+4) {
        clear: left;
    }
    .item-with-img,
    .item-news-text {
        width: calc(100% / 3);
        float: left;
        margin: 5px 0px;
        padding: 0px 12px;
    }
    .div-footer-item:nth-child(n) {
        margin: 0;
        padding: 15px;
        width: calc(100% /4);
        float: left;
    }
    .div-footer-item:nth-child(1) {
        width: 50%;
    }
    .div-vertical-list-container {
        width: 40%;
        margin: 0;
        float: left;
    }
    .nav-top-right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-top-left {
        display: inline-block;
    }
    .nav-mobile {
        display: none;
    }
    .search-container {
        float: right;
    }
}